
<div class="container">
    <div ng-if="!myInfoCtrl.user.firstName">
      <p>Not Signed Up Yet. <a href="#/signup">Sign up Now!</a></p>
    </div>
  
    <div ng-if="myInfoCtrl.user.firstName">
      <h3>Your Info</h3>
      <p>First Name: {{myInfoCtrl.user.firstName}}</p>
      <p>Last Name: {{myInfoCtrl.user.lastName}}</p>
      <p>Email: {{myInfoCtrl.user.email}}</p>
      <p>Phone: {{myInfoCtrl.user.phone}}</p>
  
      <div ng-if="myInfoCtrl.menuItem">
        <h4>Favorite Dish</h4>
        <p>Name: {{myInfoCtrl.menuItem.name}}</p>
        <p>Description: {{myInfoCtrl.menuItem.description}}</p>
        <img ng-src="images/{{myInfoCtrl.menuItem.short_name}}.jpg" alt="{{myInfoCtrl.menuItem.name}}" width="200"/>
      </div>
    </div>
  </div>

  